<div class="footer" style="display:none">
<div class="footerLinks">
	<a style="color: inherit;text-decoration: none;" href="/docs/Resume_Yanjia_Li_v1.5.pdf" target="_blank"><span class="footerLink">My Resume</span></a>
	<span class="footerLink" id="like">Be&nbsp;&nbsp;<span class="likes">&nbsp;{{likes}}&nbsp;</span>&nbsp;&nbsp;To Like My Site</span>
	<span class="footerLink blog">My Blog</span>

</div>
<div class="copyright">Copyright © 2015 - 2015 Yanjia Li</div>
</div>