<div class="homePage">
	<div class="homeWrapper" style="margin-top:50px">
		<span class="intro myname">My name is</span>
		<span class="name">
			<span class="char1">Y</span>
			<span class="char2">A</span>
			<span class="char3">N</span>
			<span class="char4">J</span>
			<span class="char5">I</span>
			<span class="char6">A</span>
			<span class="char7"> </span>
			<span class="char8">L</span>
			<span class="char9">I</span>
		</span>
		<span class="intro caption" id="introCaption">I'm a software engineer,</span>
	</div>
	<img class="homeCoverImgMobile" src="/images/nanjing2.png"></img>
	<img class="homeCoverImg" src="/images/nanjing.png"></img>
</div>
<script>
	var captionCnt = 0;
	var captionFadeOut;
	var captionFadeIn;
	var timeout1;
	var timeout2;
	var timeout3;
	var caption = {
		0:"a fast learner,",
		1:"and an IT enthusiast.",
		2:"My passion drives me to explore those unkown fields.",
		3:"And I'm on the way to becoming a full-stack developer.",
		4:"I work hard to overcome the challenges,",
		5:"help people I love,",
		6:"and realize myself.",
		7:"Twenty-three years ago,",
		8:"I was born in Nanjing,",
		9:"but Chongqing is like my second hometown.",
		10:"Now I'm studying on the oppsite side of the earth,",
		11:"ready for another exciting life's journey."
	}
	$(document).ready(function(){
		window.clearTimeout(captionTimer);
		window.clearTimeout(captionFadeOut);
		window.clearTimeout(captionFadeIn);
		window.clearTimeout(timeout1);
		window.clearTimeout(timeout2);
		window.clearTimeout(timeout3);
		captionCnt = 0;
		timeout1 = window.setTimeout(function(){
			timeout2 = window.setTimeout(function(){
				$("#introCaption").animate({opacity:0},500);
				captionFadeOut = window.setInterval(function(){
					$("#introCaption").animate({opacity:0},500);
				},5000)
			},4500)
			timeout3 = window.setTimeout(function(){
				$("#introCaption").animate({opacity:1},500);
				captionFadeIn = window.setInterval(function(){
					$("#introCaption").animate({opacity:1},500);
				},5000)
			},5500)
			captionTimer = window.setInterval(function(){
				$("#introCaption").text(caption[captionCnt]);
				captionCnt++;
				if(captionCnt>=12){
					captionCnt=0;
				}
			},5000);
		},1000)
	})
</script>