/*body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1000px;
  height: 700px;
  margin-top: 10px;
}*/
.skillsContent {
  margin-top: 40px;
  height:600px;
  overflow-x: auto !important;
  overflow-y: hidden !important;
}
#skillmap .skills-wrapper {
  
  margin-top: 10px;
  /*overflow: hidden;*/
}
#skillmap .skills-sunburst {
  position: static;
  width: 1%;
  margin-top: -50px;
  margin-left: -280px;
  padding-left: 50%;
}
#skillmap .skills-sunburst svg {
  
  font: 11px "Eras ITC", "Eras Light ITC",  sans-serif;
  font-weight: 900;
  cursor: pointer;
}
#skillmap .skills-chart {
  float: right;
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif;
  font-size: 15px;
  margin: 80px 20px 0 0;
}
#skillmap .breadcumb-text {
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif;
  font-size: 13px;
  font-weight: 700;
}
#skillmap .skills-chart #skills-chart-line {
  fill: none;
  stroke-width: 3.5px;
}
#skillmap .skills-chart .axis path,
#skillmap .skills-chart .axis line {
  fill: none;
}
#skillmap .skills-chart .x-axis path,
#skillmap .skills-chart .y-axis path {
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}